@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

:root {
    --lineargradient: linear-gradient(-45deg, #667EEA 10%, #764BA2 93%);
    --cor00: #252257;
    --cor01: #3F3D56;
    --cor02: #5E71EE;
    --cor03: #B5AAAA;
    --cor04: #F2F2F2;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: var(--lineargradient);

}

section.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    justify-content: space-between;
    width: 810px;
    height: 526px;
    background-color: #FFF;
    border-radius: 15px;
    overflow: hidden;
}
/*Conteudo Sign up*/
.first-content {
    display: flex;
}
/*Conteudo Sign in*/
.second-content {
    position: absolute;
    display: none;
}
.first-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.title {
    padding-top: 38px;
    padding-bottom: 14px;
    text-align: center;
    font-size: 2.1em;
}

.title-primary {
    color: var(--cor00);
}

.list-social-media {
    display: flex;
    padding-top: 11px;
    padding-bottom: 12px;
    list-style: none;
    gap: 15px;
}

.social-item {
    width: 46px;
    height: 46px;
    background-color: var(--cor04);
    border-radius: 50%;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.267);
}

div.box-or {
    position: relative;
    padding-bottom: 14px;
}

div.box-or::after {
    position: absolute;
    left: 0;
    content: '';
    width: 2rem;
    height: 1px;
    background-color: var(--cor03);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.text-input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 327px;
    height: 45px;
    border: 1px solid var(--cor03);
    border-radius: 10px;
}

.form-label {
    position: absolute;
    top: -12px;
    left: 12px;
}

.text-input input {
    width: 100%;
    height: 100%;
    border: none;
}

.second-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: var(--cor00);
}

.description {
    text-align: center;
    font-size: .81em;
    line-height: 1.7em;
    color: #FFF;

}

img.image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}


