@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

:root {
    --lineargradient: linear-gradient(-45deg, #667EEA 10%, #764BA2 93%);
    --cor00: #252257;
    --cor01: #3F3D56;
    --cor02: #5E71EE;
    --cor03: #808080;
    --cor04: #F2F2F2;
}

body {
    width: 100vw;
    height: 100vh;
    background-image:var(--lineargradient);
}

section.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 810px;
    height: 496px;
    background-color: #FFF;
    border-radius: 15px;
    overflow: hidden;
}

.first-content {
    display: flex;
}

.second-content {
    position: absolute;
    z-index: -1;
    display: flex;
}

/*Coluna do Formulário*/

.first-column {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    transition: all .3s;
}

.title {
    margin-top: 35px;
    font-size: 2em;
}

.title-primary {
    color: var(--cor00)
}

.title-second {
    color: #FFF;
}

.list-social-media {
    display: flex;
    gap: 23px;
    margin-top: 25px;
    list-style: none;
}

.list-social-media .social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background-color: var(--cor04);
    border-radius: 50%;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.158);
}

.social-item .images-logo {
    width: 26px;
    object-fit: cover;
}

div.alternative {
    position: relative;
    display: flex;
    justify-content: center;
    width: 132px;
    align-items: center;
    margin: 14px 0;
}

.alternative span {
    font-size: .9em;
    font-weight: bold;
    color: var(--cor00);
}

.alternative span::after, .alternative span::before{
    position: absolute;
    content: '';
    left: 0px;
    bottom: 50%;
    width: 38px;
    height: 1px;
    background-color: var(--cor03);
}

.alternative span::before {
    left: 94px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-box {
    position: relative;
    display: flex;
    width: 327px;
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
}

.form-label {
    position: absolute;
    top: -12px;
    left: 13px;
    padding: 0 8px;
    background-color: #FFF;
}

.input-box input {
    width: 100%;
    height: 100%;
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 1.1em;
    outline: none;
}

.form-icon {
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.forgot-password {
    align-self: flex-end;
    text-decoration: none;
    color: var(--cor00);
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn {
    width: 213px;
    height: 45px;
    align-self: center;
    border-radius: 100px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--cor02);
    border: none;
    font-size: 1.6em;
    transition: ease-in .3s;
}

.btn-primary:hover {
    background-color: #5061cf;
}

.btn-second {
    background-color: transparent;
    border: 1px solid #FFF;
    font-size: 1.2em;
    transition: ease-in .3s;
}

.btn-second:hover {
    background-color: #FFF;
    color: var(--cor00);
}

/*Coluna da imagem*/

.second-column {
    position: absolute;
    left: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: var(--cor00);
    transition: all .3s;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;
}

.description {
    margin-top: 14px;
    margin-bottom: 25px;
    text-align: center;
    font-size: .9em;
    font-weight: 300;
    color: #FFF;
}

.box-img {
    position: relative;
    width: 100%;
    height: 60%;
}

img.image {
    position: absolute;
    bottom: -1px;
    width: 100%;
}

.sign-in-js .first-content {
    z-index: -1;
}
.sign-in-js .second-content {
    z-index: 1;
}

.sign-up-js .first-content {
    z-index: 1;
}
.sign-up-js .second-content {
    z-index: -1;
}

/*Transição*/
.sign-up-js .first-content .first-column {
    left: 0;
}
.sign-up-js .first-content .second-column {
    left: 60%;
}

.sign-in-js .second-content .first-column {
    left: 40%;
}
.sign-in-js .second-content .second-column {
    left: 0;
}




